table {
	border-collapse: collapse;
	margin: 6px;
}

input {
	margin: 6px;
}
th, td {
	border: 1px solid black;
	min-width: 100px;
	height: 25px;
	padding: 3px;
}

.current-cell {
	background-color: pink; 
}

tfoot tr {
	background: green;
}

button {
	margin: 10px 5px;
	background: green;
	height: 50px;
	width: 100px;
	border: none;
}